p.groove {
  border-style: groove;
}
.btn-block{
  width: 390px;
  margin-left: -16px;
  margin-top: -10px;
}
.container{
  max-width: 419px;
  margin-top: 100px;
  background-color: #E5E7E9;
}
body {
background-image: url('https://okdiario.com/img/2017/10/12/matematicas-655x368.jpg');
}
h1{
  margin-left: 130px;
}
